.icon-link, .icon-chat, .icon-home, .icon-like, .icon-twit, .icon-goo, .icon-eng, .icon-rus, .icon-authorize, .icon-basket, .icon-nav, .icon-rss, .icon-phone, .icon-email, .icon-loup, .icon-reload{
	background: url(sprites.png) no-repeat;
}

.icon-link{
	background-position: 0 -307px ;
	width: 9px;
	height: 9px;
}

.icon-chat{
	background-position: 0 -259px ;
	width: 21px;
	height: 20px;
}

.icon-home{
	background-position: 0 -286px ;
	width: 13px;
	height: 14px;
}

.icon-like{
	background-position: -1px -235px ;
	width: 20px;
	height: 19px;
}

.icon-twit{
	background-position: 0 -214px ;
	width: 22px;
	height: 18px;
}

.icon-goo{
	background-position: 0 -192px ;
	width: 28px;
	height: 19px;
}

.icon-eng{
	background-position: 0 -167px ;
	width: 24px;
	height: 22px;
}

.icon-rus{
	background-position: 0 -143px ;
	width: 24px;
	height: 22px;
}

.icon-authorize{
	background-position: 0 -120px ;
	width: 24px;
	height: 22px;
}

.icon-basket{
	background-position: 0 -96px ;
	width: 24px;
	height: 22px;
}

.icon-nav{
	background-position: 0 -72px ;
	width: 24px;
	height: 22px;
}

.icon-rss{
	background-position: 0 -48px ;
	width: 24px;
	height: 22px;
}

.icon-phone{
	background-position: 0 -24px ;
	width: 24px;
	height: 22px;
}

.icon-email{
	background-position: 0 0;
	width: 24px;
	height: 22px;
}

.icon-loup{
	background-position: 0 -323px ;
	width: 16px;
	height: 16px;
}

.icon-reload{
	background-position: 0 -344px ;
	width: 26px;
	height: 27px;
}

